<h2>Sign in</h2>

<%= semantic_form_for(resource, :url => session_path(resource_name)) do |form| %>

  <%= form.inputs do %>
    <%= form.input :email %>
    <%= form.input :password, :as => :password %>
    <%= form.input :remember_me, :as => :boolean %>
  <% end %>

  <%= form.buttons do %>
    <%= form.commit_button 'Sign in' %>
  <% end %>

<% end %>

<%= render :partial => "devise/shared/links" %>